html, body
{
	width: 100%;
	height: 100%;
}

body
{
	margin: 0;
	background-color: #efefef;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

h1, #menu, #content
{
	padding-left: 1em;
	padding-right: 1em;
}

h1, h2, h3, h4
{
	margin: 0.1em 0 0.1em 0;
}

h1
{
	margin: 0;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	background-color: #555555;
	color: white;
	font-size: 160%;
	text-shadow: 1px 1px 4px black;
}

h1 a:link, h1 a:active, h1 a:visited
{
	background-color: transparent;
	color: inherit;
	text-decoration: none;
}

h2
{
	font-size: 120%;
}

a:link
{
	background-color: transparent;
	color: #0000dd;
}

a:visited
{
	background-color: transparent;
	color: #000088;
}

a:hover
{
	background-color: transparent;
	color: #5555ff;
}

td
{
	vertical-align: top;
}

#menu
{
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	background: -webkit-linear-gradient(top, #efefef 0%, white 50%, #efefef 60%);
	background: -moz-linear-gradient(top, #efefef 0%, white 50%, #efefef 60%);
	font-size: 11pt;
	text-shadow: 1px 1px 2px gray;
}

#menu a:link, #menu a:active, #menu a:visited
{
	display: inline-block;
	margin-right: 0.5em;
	border-bottom: solid 2px transparent;
	background-color: transparent;
	color: inherit;
	text-decoration: none;
	-webkit-transition: border-color 0.2s;
	-moz-transition: border-color 0.2s;
	-o-transition: border-color 0.2s;
}

#menu a:hover
{
	border-color: black;
}

#content
{
	margin: auto;
	padding-top: 1em;
	padding-bottom: 1em;
	border-top: solid 1px #dddddd;
	border-bottom: solid 1px #dddddd;
	min-height: 20em;
	background-color: white;
	background: -webkit-linear-gradient(top, #aaaaaa 0, white 0.5em);
	background: -moz-linear-gradient(top, #aaaaaa 0, white 0.5em);
	color: inherit;
}

#footer
{
	padding: 1em;
	font-size: 8pt;
	text-align: center;
}

li p
{
	margin: 0.25em 0 1em 0;
}

.CodeDisplay
{
	overflow: auto;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 100%;
	width: 600px;
	height: 300px;
	padding: 8px;
	border: solid 2px #505050;
	background-color: white;
	color: black;
	z-index: 1;
}

pre
{
	font-size: 8pt;
	padding-left: 1em;
	border-left: solid 2px black;
}

table.BorderedTable
{
	border-collapse: collapse;
}

table.BorderedTable th, table.BorderedTable td
{
	padding: 4px;
	border: solid 1px black;
}

@media print
{
	body
	{
		background-color: white;
		color: black;
	}

	h1
	{
		background-color: transparent;
		color: inherit;
		text-shadow: none;
	}

	#menu
	{
		display: none;
	}

	h1, #content
	{
		padding-left: 0;
		padding-right: 0;
	}

	#content
	{
		border: 0;
	}

	#footer
	{
		border: 0;
	}
}
