<%- pageTitle "Home" %>

<p>Welcome to joshbeam.com. You can find some of the software that I've developed on the <%= link_to "software", :controller => "software" %> page. I've also written some articles, mostly related to 3D graphics programming, which can be found on the <%= link_to "articles", :controller => "articles" %> page.</p>

<p>I can be contacted by email at <%= mail_to "josh@joshbeam.com" %>.</p>
